/*
Colors used:
Light orange: #EDD8C0;
Primary Orange: #DD3800; from E8742C
Secondary Orange: #FA8128;
Darker orange: #AD3700;
Black: #282D30;
White: #FFFFFF;
*/

/*
Fonts used:
Noto (serif) for headers and titles;
Montserrat (sans serif) for texts in paragraphs
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Font Family and sizes */
body {
  background-color: #edd8c0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;

  /* Sets the font size to 16px */
  font-weight: 500;

  /* Sets the font weight to 400 */
  line-height: 1.8;

  /* Sets the line-height to 1.5 * the font-size */
  color: #282d30;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Serif", serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  background-color: inherit;
  color: #ad3700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 0;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

hr {
  height: 1px;
  background-color: inherit;
  color: #fa8128;
  margin: 0 65px 0 50px;
}

/* ------Text hightlight------- */
.simple-italics {
  font-style: italic;
}

/* Viewport Size */
img {
  width: 100%;
}

a {
  background-color: inherit;
  color: #dd3800;
  text-decoration: none;
}

a:visited {
  background-color: inherit;
  color: #ad3700;
}

a:hover,
a:focus {
  background-color: inherit;
  color: #586265;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active {
  background-color: inherit;
  color: #b45f06;
}

/* Buttons */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #dd3800;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #fff;
  color: #dd3800;
}

.button:active,
.button:focus {
  background-color: #fff;
  color: #282d30;
  border-bottom: 2px solid #dd3800;
  opacity: 0.8;
  text-decoration: none;
}

/* Keep this specific button styling at the very bottom */

/* Project Work buttons */
.button.project {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #dd3800;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.project:hover {
  opacity: 0.8;
  background-color: #fff;
  color: #dd3800;
  text-decoration: underline;
  font-style: italic;
}

.button.project:active,
.button.project:focus {
  background-color: #fff;
  color: #282d30;
  border-bottom: 2px solid #dd3800;
  opacity: 0.8;
  text-decoration: none;
}

/* Layout Styling task 1.7 */

/* Padding on entire page */
.container .container-project {
  padding: 0 30px;
  margin: 0 auto;
}

.padding {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 5px;
}

/* Margin at top and bottom of "rows" */
.row {
  margin: 25px 0;
}

/* Navigation bar elements */
.logo {
  max-width: 200px;
}

header {
  background-color: #edd8c0;
  color: inherit;
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
}

main {
  padding-top: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: inherit;
  color: #282d30;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: inherit;
  color: #ad3700;
}

nav > ul > li > a:hover {
  padding: 0 20px;
  text-transform: uppercase;
  background-color: #dd3800;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #282d30;
  transition: 0.2s opacity;
}

nav > ul > li > a:active {
  padding: 0 20px;
  text-transform: uppercase;
  background-color: #fff;
  color: #282d30;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #282d30;
  transition: 0.2s opacity;
}

/* Navigation items are hidden except menu icon for screens less than 640px, small screens */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 25px;
  padding: 0.6em;
}

/* Will override when responsive class is toggled */
.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* hero section,index.html */
#hero {
  text-align: center;
  margin: 0;
  padding: 0.67em 0 0;
}

#hero span {
  display: block;
}

#hero-description {
  margin-bottom: 5em;
  font-size: 1em;
  font-weight: 400;
}

#work {
  margin: 0 1em 3em;
  text-align: left;
}

#work h2 {
  text-align: center;
}

/* CSS Animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Styling at project work */
.row {
  padding-bottom: 16px;
  width: 100%;
}

/* About page */
.about {
  background-color: #fff;
  color: inherit;
  padding: 0.625em;
  border-radius: 3px;
}

#about-page {
  margin-top: 8em;
}

#about-me {
  margin-bottom: 80px;
}

#img-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 60%;
  height: 60%;
  padding-bottom: 50px;
}

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#my-story {
  margin-right: 90px;
  text-align: justify;
}

#arrow {
  width: 55px;
  height: 30px;
  margin: 7em 0;
}

#skill {
  margin: 2em 10em 5em;
}

/* Resume buttons */
.button.resume {
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #dd3800;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  text-align: center; /* center the button */
  display: block;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
}

.button.resume:hover {
  opacity: 0.8;
  background-color: #fff;
  color: #dd3800;
  border-color: #282d30;
  text-decoration: underline;
  font-style: italic;
}

.button.resume:active,
.button.resume:focus {
  background-color: #fff;
  color: #282d30;
  border-bottom: 2px solid #dd3800;
  opacity: 0.8;
  text-decoration: none;
}

/* Text swap */
#Iam {
  font-size: 1.8em;
  font-weight: 700;
  display: inline-block;
  padding: 0 6.5em;
}

#spin {
  background-color: inherit;
  color: #ad3700;
  display: inline-block;
}

#spin::after {
  content: "";
  animation: spin 20s infinite alternate linear;
}

@keyframes spin {
  0% {
    content: " UX/UI Designer 👩‍🎨";
  }

  10% {
    content: " tree hugger 🌳";
  }

  20% {
    content: " bathroom singer 🎤";
  }

  30% {
    content: " game lover 🎮";
  }

  40% {
    content: " chocolate addict 🍫";
  }

  50% {
    content: " digital nomad ✈️";
  }

  60% {
    content: " UX/UI Designer 👩‍🎨";
  }

  70% {
    content: " tree hugger 🌳";
  }

  80% {
    content: " bathroom singer 🎤";
  }

  90% {
    content: " game lover 🎮";
  }

  100% {
    content: " chocolate addict 🍫";
  }
}

/* All projects */
.frinans,
.bluecall {
  padding: 6em 9em 2em;
  border-radius: 3px;
  text-align: justify;
}

#project-top-image {
  margin-top: 2.2em;
}

.overview-title {
  background-color: inherit;
  color: #ad3700;
  font-weight: bold;
}

/* Project Frinans page */
.bg-oldlace {
  padding: 2em 4em;
  background-color: oldlace;
  color: inherit;
  border-radius: 15px;
}

.section {
  margin: 50px 0;
}

#frinans-header {
  padding: 0 4em 0 2.5em;
}

#problem-solution {
  margin-top: 5px;
  background-color: oldlace;
  color: inherit;
  border-radius: 15px;
}

#problem {
  margin-right: 40px;
  padding: 3.5em 1em 0 4em;
}

#solution {
  margin-left: 30px;
  padding: 3.5em 4em 0 1em;
}

.floating-menu {
  background: inherit;
  font-weight: 600;
  padding: 0 0 0 1em;
  width: 130px;
  z-index: 2000;
  position: fixed;
  display: none;
  top: 15em;
  left: 0;
}

.floating-menu a {
  font-size: 0.7em;
  display: block;
  margin: 0 0.5em;
  background-color: inherit;
  color: #282d30;
}

.floating-menu a:hover {
  background-color: inherit;
  color: #ad3700;
  font-style: italic;
}

.floating-menu a:active,
.floating-menu a:focus {
  background-color: inherit;
  color: #ad3700;
  font-style: italic;
  text-decoration: none;
}

/* Footer Section */
#contact {
  text-align: center;
  background-color: #282d30;
  color: inherit;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#contact h2 {
  background-color: inherit;
  color: #e8742c;
}

#contact p {
  text-align: center;
  background-color: inherit;
  color: #fff;
}

.phone {
  background-color: inherit;
  color: #fff;
  text-decoration: underline;
}

#sociallinks .links {
  display: inline-block;
}

.behancelogo {
  width: 65px;
}

.linkedinlogo {
  max-width: 65px;
}

/* Email contact button */
.button.contact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #dd3800;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #dd3800;
  text-decoration: underline;
  font-style: italic;
}

.button:active,
.button:focus {
  background-color: #fff;
  color: #282d30;
  border-bottom: 2px solid #dd3800;
  text-decoration: none;
}

/* Media Queries for small to x-large devices */

/* ==============================
Small devices (smaller than 640px)
================================= */
@media only screen and (max-width: 640px) {
  .padding {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
  }

  .container {
    padding: 0 30px;
    margin: 0 auto;
  }

  .container-project {
    margin: 10px 0;
  }

  .logo {
    margin-top: 1em;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li {
    padding: 10px 0;
  }

  .button.project {
    margin-bottom: 30px;
  }

  #Iam {
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
    padding: 0 1em;
  }

  #arrow {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  /* Projects */
  .frinans,
  .bluecall {
    padding: 30px;
    padding-top: 150px;
    border-radius: 3px;
    text-align: left;
    background-color: oldlace;
    color: inherit;
  }

  .bg-oldlace {
    padding: 1em 3.2em;
  }

  .floating-menu {
    visibility: hidden;
  }

  #work {
    text-align: left;
  }

  #img-profile {
    padding-bottom: 50px;
  }

  #my-story {
    margin-right: 0;
    text-align: left;
  }

  .button.resume {
    margin-bottom: 1.5em;
  }

  #skill {
    margin: 0;
  }

  #frinans-header {
    padding: 0;
  }

  #problem,
  #solution {
    margin: 0;
    padding: 3.5em 1em 0;
  }

  #frinans-description {
    padding: 0 10px;
  }

  #frinans-interview {
    width: 90%;
  }

  .password {
    padding: 10em;
  }
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  /* Removes menu icon and lists navigation items for larger than 640px */
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* Removes menu icon for screens larger than 640px */
  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  #frinans-interview {
    width: 40%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  .col-md-7 {
    width: 60%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  #arrow {
    display: none;
    visibility: hidden;
  }

  .col-md-7 {
    width: 60%;
  }
}
