/*
Colors used:
Light orange: #EDD8C0;
Primary Orange: #E8742C;
Secondary Orange: #FA8128;
Black: #282D30;
White: #FFFFFF;
*/
/*
Fonts used:
Bagatela (serif) for headers and titles;
Poppins (sans serif) for texts in paragraphs
*/
/* Font Family and sizes*/
body {
  background-color: #EDD8C0;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.5;
  /* Sets the line-height to 1.5 * the font-size */
  color: #282D30;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #E8742C;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

header{
  background-color: #EDD8C0;
  padding: 0.625em;
  border-radius: 3px;
}

/* Viewport Size*/
img {
  width: 100%;
}

/* Hover state */
a:hover,
a:focus {
  color: #E8742C;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

/* Buttons */
.button{
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

/* Keep this specific button styling at the very bottom */
/* Project Work buttons */
.button.project {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E8742C;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.project:hover {
  opacity: 0.85; /* Reduces the opacity of the button to 85% */
  color: #000000;
  text-decoration: underline;
  font-style: italic;
  opacity: 0.8;
}


/* Footer Section */

/* Email contact button */
.button.contact{
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #E8742C;
}
.button.contact:hover{
  background-color: #ff7f50;
  color: #ffffff;
}
