/*
Colors used:
Light orange: #EDD8C0;
Primary Orange: #E8742C;
Secondary Orange: #FA8128;
Darker orange: #AD3700;
Black: #282D30;
White: #FFFFFF;
*/
/*
Fonts used:
Bagatela (serif) for headers and titles;
Poppins (sans serif) for texts in paragraphs
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Font Family and sizes*/
body {
  background-color: #EDD8C0;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.5;
  /* Sets the line-height to 1.5 * the font-size */
  color: #282D30;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #AD3700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

hr {
  height: 1px;
  background-color: #FA8128;
  margin: 0 65px 0 50px;
}

/* ------Text hightlight------- */
.simple-italics {
  font-style: italic;
}

/* Viewport Size*/
img {
  width: 100%;
}

a {
  color: #E8742C;
  text-decoration: none;
}

a:visited {
  color: #AD3700;
}

a:hover,
a:focus {
  color: #586265;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  color: #b45f06;
}

/* Buttons */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E8742C;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active,
.button:focus {
  background-color: #994c30;
  color: #000000;
  border-bottom: 2px solid #E8742C;
  opacity: 0.8;
  text-decoration: none;
}

/* Keep this specific button styling at the very bottom */
/* Project Work buttons */
.button.project {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E8742C;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.project:hover {
  opacity: 0.8;
  background-color: #E8742C;
  color: #000000;
  text-decoration: underline;
  font-style: italic;
}

.button.project:active,
.button.project:focus {
  background-color: #994c30;
  color: #000000;
  border-bottom: 2px solid #E8742C;
  opacity: 0.8;
  text-decoration: none;
}

/* Layout Styling task 1.7 */
/* Padding on entire page */
.container {
  padding: 0 30px;
  margin: 0 auto;
}

.padding {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 5px;
}

/* Margin at top and bottom of "rows" */
.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

/* Navigation bar elements */
.logo {
  max-width: 200px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #EDD8C0;
  box-shadow: 3px 3px 2px 0px rgba(169, 171, 172, 0.75);
  padding: 10px 0 4px;
}

main {
  padding-top: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #282D30
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #AD3700
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  background-color: #E8742C;
  color: #FFFFFF;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #282D30;
  transition: 0.2s opacity;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #282D30;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #282D30;
  transition: 0.2s opacity;
}

/* Navigation items are hidden except menu icon for screens less than 640px, small screens */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 25px;
    padding-right: 0;
}

/* Will override when responsive class is toggled */
.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* hero section,index.html */
#hero {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

#hero span {
  display: block;
}

#work {
  margin: 0 1em 3em 1em;
  text-align: justify;
}

#work h2 {
  text-align: center;
}

/* CSS Animation */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to{transform: translate(200px,50px);}
}

.cloud-front{
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to{transform: translate(100px, 48px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Styling at project work */
.row {
  padding-bottom: 16px;
  width: 100%;
}

/* About page */
.about {
  background-color: #FFFFFF;
  padding: 0.625em;
  border-radius: 3px;
}

#about-page h3 {
  margin-top: 0;
}

#about-me {
  margin-bottom: 80px;
}

#img-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 60%;
  height: 60%;
}

#about-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Resume buttons */
.button.resume {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E8742C;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  text-align: center;
  /* center the button */
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button.resume:hover {
  opacity: 0.8;
  background-color: #E8742C;
  color: #000000;
  text-decoration: underline;
  font-style: italic;
}

.button.resume:active,
.button.resume:focus {
  background-color: #994c30;
  color: #000000;
  border-bottom: 2px solid #E8742C;
  opacity: 0.8;
  text-decoration: none;
}

/* All projects */
.frinans, .bluecall {
  padding: 0.625em;
  padding-top: 150px;
  border-radius: 3px;
  text-align: justify;
}

.overview-title {
  color: #AD3700;
  font-weight: bold;
}

/* Project Frinans page */
.bg-oldlace {
  padding: 2em 3em;
  background-color: oldlace;
  border-radius: 15px;
}

.section {
  margin: 50px 0;
}

/* Project BlueCall page */


/* Footer Section */
#contact {
  text-align: center;
  background-color: #282D30;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#contact h2 {
  color: #E8742C;
}

#contact p {
  text-align: center;
  color: #FFFFFF;
}

.phone {
  color: #FFFFFF;
  text-decoration: underline;
  font-style: italic;
}

#sociallinks .links {
  display: inline-block;
}

.behancelogo {
  width: 65px;
}

.linkedinlogo {
  max-width: 65px;
}

/* Email contact button */
.button.contact {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E8742C;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-transform: uppercase;
}

.button:hover {
  background-color: #FFFFFF;
  color: #E8742C;
  text-decoration: underline;
  font-style: italic;
}

.button:active,
.button:focus {
  opacity: 0.8;
  background-color: #994c30;
  color: #000000;
  border-bottom: 2px solid #E8742C;
  text-decoration: none;
}



/* Media Queries for small to x-large devices */
/* ==============================
Small devices (smaller than 640px)
================================= */
@media only screen and (max-width: 640px) {
  .navtoggle.responsive nav {
      padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    padding: 10px 0;
  }

}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
       margin: 1em 0;
   }

   nav > ul > li {
       display: inline-block;
   }

   /* Removes menu icon and lists navigation items for larger than 640px*/
   .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    /* Removes menu icon for screens larger than 640px */
    .navtoggle li:last-child {
        display: none;
    }

  .col-md-6 {
    width: 50%;
  }

  #work h3 {
    margin-top: 0;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
